*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: "Poppins", sans-serif;
	--clr-bg: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: var(--ff-primary);
	background: var(--clr-bg);
}

header,
section {
	display: flex;
	align-items: center;
}

main{
	position: relative;
}

/* button */
header img{
	height: 5vh;
}

section img{
	background: #FFFFFF;
	box-shadow: 0px 10px 20px #E9E9EA;
	border-radius: 50%;
	padding: 1em;
	height: 10vh;
}

/* image */
.hero{
	max-width:95%;
	max-height: 100%;
	margin: auto;
	display: block;
	object-fit: cover;
	object-position: center;
}

.hero-text{
	/* maybe */
	position: absolute;
}

/* Layout heirachy
.app
   header #nav
   main #card
   section #buttons
*/
.app {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 100%;
	max-width: 550px;
}

header {
	justify-content: space-between;
	padding: 0.5em;
}

section {
	justify-content: center;
   gap: 1rem;
	padding: 1em;
}